@font-face {
    font-family: domain;
    src: url(./DomaineDispCondMedium.ttf);
}
@font-face {
    font-family: canopee;
    src: url(./Canopee.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    height:100%;
    width:100vw;
    background-color:#222 ;

}
#page1
{
  height: 100%;
  width: 100vw;
  background-color:#ddd3ca;
  
}
#nav{
    padding: 30px 30px;
    height: 90px;
    background-color:#dfd7d0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;

}
.location
{
    font-weight:10;
}
.logo
{
  height: 100px;
  width: 160px;
  object-fit: cover;

}
.icon
{
    height: 30px;
}
#elems
{
    padding: 30px 50px;
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-between;
    
}
#elem1{
    width: 27%;
    height: 100%;

}
h4{
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    font-family:canopee;
}
p{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: domain;
    color: #2d2b2b;
}
#elem2{
    width: 30%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #999999;
    border-right: 1px solid #9b9a9a;
}
#elem3
{
    width: 27%;
    height: 100%;
}
#image-div img
{
    height:100%;
    width:100%;
    object-fit: cover;
    transition: all ease 0.5s ;
}
#image-div
{
    height:60%;
    width: 100%;
   
    border-radius: 4px;
}
#image-div:hover img{
    scale: 1.1;
}
span{
    color: #fcfbfb;
    margin-left: 8px;
    font-weight: 100;
    background-color: rgb(223, 73, 14);
    border-radius: 1.75px;
    padding:2px;
}

.txt
{
    margin: 50px 8px 8px 30px;
    height: 170px;
    font-family: canopee;
    letter-spacing: 0.7px;
    font-size: 150px;
    font-weight: 80;
    text-align: center;
    background-color: #222;
    color: #fcfbfb;
    width: 97%;



}
#memes
{
    margin-left: 10px;
    height: 30%;
    width: 35%;
    background-color:rgb(223, 73, 14) ;

}
#memes h3
{
    height: 30%;
    width: 90% ;
    font-weight: 100;
    text-align: center;
    font-family: canopee;
    font-size: 30px;
    letter-spacing: 1px;
   
    border-radius: 2px;
    color: #ede7e2;
}
#memes img
{
    align-items: center;
    height: 70%;
    width: 90% ;
    border-radius: 6px;
    background-color: rgb(255, 72, 0)255, 140, 0);
    padding: 1px 1px;

}


