@font-face {
    font-family: domain;
    src: url(./DomaineDispCondMedium.ttf);
}
@font-face {
    font-family: canopee;
    src: url(./Canopee.ttf);
}
*{
    cursor: url('red_circle.svg'), auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    height:100%;
    width:100vw;
    background-color:#222 ;

}
#page1
{
  height: 93vh;
  width: 100vw;
  background-color:#ddd3ca;
  
}
#nav{
    padding: 30px 30px;
    height: 18vh;
    background-color:#dfd7d0;
    width: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;

}
h3{
    font-family: domain;
    font-weight: 80;
}
.location
{
    font-weight:10;
}
.logo
{
  height: 100px;
  width: 160px;
  }
.icon
{
    height: 30px;
}
#elems
{
    padding: 30px 50px;
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-between;
    
}
#elem1{
    width: 27%;
    height: 100%;

}
h4{
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    font-family:canopee;
}
p{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: domain;
    color: #2d2b2b;
}
#elem2{
    width: 30%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #999999;
    border-right: 1px solid #9b9a9a;
}
#elem3
{
    width: 27%;
    height: 100%;
}
#image-div img
{
    height:100%;
    width:100%;
    object-fit: cover;
    transition: all ease 0.5s ;
}
#image-div
{
    height:60%;
    width: 100%;
   
    border-radius: 4px;
}
#image-div:hover img{
    scale: 1.1;
}
h4 span
{
    color: #fcfbfb;
    margin-left: 8px;
    font-weight: 100;
    background-color: rgb(223, 73, 14);
    border-radius: 1.75px;
    padding:2px;
}

.txt
{
    margin: 50px 10px 5px 10px;
    height: 170px;
    font-family: canopee;
    font-size: 150px;
    font-weight: 80;
    text-align: center;
    background-color: #222;
    color: #fcfbfb;
    width: 97vw;
}
#page2
{
    display: flex;
    justify-content: space-evenly;
    height: 64vh;
    background-color:#ddd3ca;
    
}
#memes
{
    margin-left: 1vw;
    height: 60vh;
    background-color:rgb(223, 73, 14) ;
    }
#memes h3
{
    height: 13%;
    font-weight: 100;
    text-align: center;
    font-family: canopee;
    font-size: 40px;  
    color: #ede7e2;
}
#memes img
{
    
    height: 87%;
    padding: 2px;

}
#topnews 
{
    border-radius: 2px;
    margin-left: 2vw;
    font-size: 14px;
    color: #222;
    padding:  20px 40px;
    height: 60vh;
    font-family: domain;
    background-color: #ffffff;
    border-right: 1px solid #222;
    list-style-image: url("images/news-line\ \(1\).svg");
    

}
#topnews h3
{
    font-weight: 100;
    font-family: canopee;
    font-size: 40px; 

}
#topnews ul
{
    margin-top: 10px;
  
}
#latestnews
{
    border-radius: 2px;
    margin-left: 2vw;
    font-size: 14px;
    margin-right: 2vw;
    color: #222;
    height: 60vh;
    padding: 20px 40px;
    font-family: domain;
    background-color: #f1f1f1;
    list-style-image: url("images/news-line\ \(1\).svg");
}
#latestnews h3
{
    font-weight: 100;
    font-family: canopee;
    font-size: 40px; 

}
#latestnews ul
{
    margin-top: 10px;
  
}
#page3
{
    height: 50vh;
    background-color: #ddd3ca;
    display: flex;
    justify-content: space-between;
    
}
#page3 h1{
    font-family: canopee;
    font-size: 140px;
    font-weight:  100;
    background-color: #222;
    color: #e3dddd;
    width: 50%;
    margin-left: 1vw;
    text-align: center;
    height: 80%;
    letter-spacing: -2px;
    font-stretch: ultra-condensed;
    border-radius: 2px;
} 
#page3 img{
    height: 80%;
    width: 45%;
    margin-right: 1vw;
    border-radius: 2px;
}
#page4
{
    background-color: #222;
    height: 40vh;
}


